.search-form input[type="text"]{
    height: 10px;
    width: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
}
.search-form input[type="text"]:hover {
    scale: 130%;
}
.search-form input[type="submit"]{
    margin: 10px;
    padding: 6px;
    background-color: #0edfff71;
    border-radius: 4px;
}
form {
    display: inline-block;
}
.search-form input[type="submit"]:hover {
    background-color: #74ecff71;
    scale: 130%;
}
select {
    margin: 10px;
    padding: 6px;
}
tr:hover, tr#a:hover {
    background-color: #b8b8b8;
}
table{
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
}
th {
    padding: 7px;
    color : white;
    background-color: rgb(58, 58, 159);
}
td {
    padding: 5px;
}
tr#a {
    background-color: #ededed;
}
a { 
    color: rgb(35, 35, 35);
    text-decoration-line: none;
}
#box1 {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: wrap; */ /* flex-direction과 flex-wrap이 자주 같이 사용되기 때문에, flex-flow가 이를 대신할 수 있음. 이 속성은 공백문자를 이용하여 두 속성의 값들을 인자로 받음. */
    margin: 20px;
    gap: 20px;
    /* align-content: center; */
    justify-content: center;
   /* align-content는 여러 줄들 사이의 간격을 지정하며, align-items는 컨테이너 안에서 어떻게 모든 요소들이 정렬하는지를 지정함. 한 줄만 있는 경우, align-content는 효과를 보이지 않음. */
}
#box1 > .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: solid black 1px;
    /* margin: 20px 15px; */
    padding: 2px;
    /* align-items: center;
    text-align: center; */
}