<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <center>
    <h1 style="color:rgb(100, 100, 100)"> 사용자 테이블 검색 </h1>
    <form action="/search" method="GET" class="search-form">
        <input type="text" name="name" placeholder="사용자 이름 검색">
        <input type="submit" value="검색">
        <select onchange="this.form.submit()" name = "per_page">
            {% for i in range(1,21)%}
            <option value="{{ i }}" {% if per_page == i %} selected {% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
    </form>
    <table border="1">
    <tr>
        <th> index </th>
        {% for header in headers %}
        <th>{{ header }}</th>
        {% endfor %}
    </tr>
        {% for user in users %}
        <tr id="{% if user.index % 2 == 0 %}a{% endif %}">
            {% for  value in user.values() %}
            <td> <a href="/user/{{ user.Id }}">{{ value }}</a> </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <!-- 페이지 번호 출력하기 -->
    {% for page_num in range(1, total_pages + 1) %}
    <div id="box">
    <a href="/{{ page_num }}">{{ page_num }}</a>
    </div>
    {% endfor %}
    </center>
</html>