<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 상세 페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <center>
    <h1 style="color:rgb(100, 100, 100)"> 사용자 상세 페이지 </h1>
    <table border="1">
        <tr>
            {% for header in headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for user in user.values() %}
            <td> {{ user }} </td>
            {% endfor %}
        </tr>
        <!-- <button id="box" onclike="wideow.history.back()">뒤로가기</button><br/> -->
        <a href="javascript: history.back()" id="box"> BACK </a>
    </table>
    </center>
</body>
</html>