<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="styleSheet" href="style.css"> -->
    <link rel="styleSheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <H1> Hellow World! </H1>
    <!-- <img src="/img/image.jpg"> -->
    <!-- <img src="/static/img/image.jpg"> -->
    <img src="{{ url_for('static', filename='img/image.jpg')}}">
    <!-- <script src="script.js"></script> -->
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>