<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}"/>
    {% block style %}{% endblock %}
    {% block style1 %}{% endblock %}
</head>
<body>
    <center>
        <nav>
            <a href="{{ url_for('user')}}" {%if paging.category=="user"%} id="bold" {% endif %}>User</a>
            <a href="{{ url_for('order')}}" {%if paging.category=="order"%} id="bold" {% endif %}>Order</a>
            <a href="{{ url_for('orderItem')}}" {%if paging.category=="orderItem"%} id="bold" {% endif %}>Order Item</a>
            <a href="{{ url_for('item')}}" {%if paging.category=="item"%} id="bold" {% endif %}>Item</a>
            <a href="{{ url_for('store')}}" {%if paging.category=="store"%} id="bold" {% endif %}>Store</a>
        </nav>
        {% block content %}{% endblock %}
    </center>
</body>
</html>