{% extends "base.html" %}
{% block title %}Main Page{% endblock %}

{% block content %}
{% block bar %}{% endblock %}
<div style="overflow: auto; max-height: 70vh">
    <table>
        <tr>
            {% for key in keys %}
            <th>
                {{ key }}
            </th>
            {% endfor %}
        </tr>
        {% for value in values %}
        <tr>
            {% for v in value %}
            <td> {{ v }} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<div id="page_box">
    <div class="page">
        <a href="/?{{page}}">{{ page }}</a>
    </div>
</div>
{% endblock %}