{% extends "table.html" %}
{% block style %}
    form {
        padding: 5px;
    }
    form * {
        margin: 5px;
        height: 25px;
        font-weight: bold;
    }
{% endblock %}
{% block bar %}
<form action="/user-detail">
    <label for="name"> Name: </label>
    <input type="text" name="name" value="">
    <label for="gender"> Gender: </label>
    <select name="gender" class="pointer">
        <option selected></option>
        <option>Male</option>
        <option>FeMale</option>
    </select>
    <input type="submit" value="Search" class="pointer">
</form>
{% endblock %}