{% extends "base.html" %}
{% block title %}POST PAGE{% endblock %}

{% block content %}
<H1>Post Page</H1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p style="color: green">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="/post" method="POST">
    <label for="title">Title &nbsp;&nbsp;&nbsp;&nbsp;:</label>
    <input type="text" name="title" value="{{ text }}" required>
    <br><br>
    <label for="content" style="vertical-align: top;">Content:</label>
    <textarea name="content" rows="5" cols="30" value="{{ content }}"></textarea>
    <br><br>
    <label for="password">Post password &nbsp;:</label>
    <input type="password" name="password" value="{{ password }}">
    <br>
    <button type="submit">Add Post</button>
</form>
{% endblock %}