{% extends "base.html" %}
{% block title %}POST PAGE{% endblock %}

{% block content %}
<H1>Post Update</H1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p style="color: green">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<form action="/post_update">
    <label for="title">Title &nbsp;&nbsp;&nbsp;&nbsp;:</label>
    <input type="text" name="title" value="{{ post[0].title }}" required>
    <br><br>
    <label for="content" style="vertical-align: top;">Content:</label>
    <textarea name="content" rows="5" cols="30">{{ post[0].content }}</textarea>
    <br><br>
    <label for="password">Post password &nbsp;:</label>
    <input type="password" name="password" value="{{ password }}">
    <br>
    <input type="button" name="action" value="update"></button>
</form>
{% endblock %}