{% extends "base.html" %}
{% block title %}Post Detail{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p style="color: red">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<H1>Post Detail</H1>
<table  border="1" style="border-collapse: collapse">
    <tr>
        <td>&nbsp;Title&nbsp;</td>
        <td>&nbsp;&nbsp;{{ post[0]['title'] }}&nbsp;&nbsp;</td>
        <td>&nbsp;UserName&nbsp;</td>
        <td>&nbsp;&nbsp;{{ post[0]['username'] }}&nbsp;&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;Content&nbsp;</td>
        <td colspan="3">{{ post[0]['content'] }}</td>
    </tr>
</table>
<form>
    <button type="submit" name="btn" value="update">Update Post</button>
    <button type="submit" name="btn" value="delete">Delete Post</button>
</form>
{% endblock %}