div#page_box {
    display: flex;
    justify-content: center;
    margin: 20px;
}
#page_box > div {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    border-color: rgb(120, 120, 120);
}
#page_box > div:first-child:not(last-child) {
    border-width: 1px;
    border-radius: 5px 0px 0px 5px;
}
#page_box > div:last-child:not(first-child) {
    border-radius: 0px 5px 5px 0px;
}
#page_box > div:first-child:last-child {
    border-width: 1px;
    border-radius: 5px 5px 5px 5px;
}
#page_box a {
    display: flex;
    padding: 5px 10px;
    color: rgb(90, 90, 90);
}
#current a, #current {
    background-color: rgb(200, 200, 200);
    color: white;
}