{% extends "base.html" %}
{% block title %}Main[ {{ paging.category }} ]{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='paging.css') }}"/>
{% endblock %}

{% block content %}
{% block bar %}{% endblock %}
<div style="overflow: auto; max-height: 77vh">
    <table>
        <tr>
            {% for key in keys %}
            <th>
                {{ key }}
            </th>
            {% endfor %}
        </tr>

        {% block table_tr %}
        {% endblock %}
        
    </table>
</div>

    <!-- 페이징 처리 -->
    <div id="page_box" class="pointer">
        {% if page > 1 %}
            <div><a href="/{{ paging.category }}/{{page - 1 }}?per_page={{ per_page }}{% if name %}&name={{ name }}{% endif %}{%if arg %}&arg={{ arg }}{% endif %}"> Previous </a></div>
        {% endif %}

        {% if paging.pre == True %}
            {% for i in range(1, page) %}
                <div id="{% if i == page %}current{% endif %}"><a href="/{{ paging.category }}/{{ i }}?per_page={{ per_page }}{% if name %}&name={{ name }}{% endif %}{%if arg %}&arg={{ arg }}{% endif %}"> {{ i }} </a></div> 
            {% endfor %}
        {% endif %}
        
        {% if paging.pre == False %}
            {% for i in range(1, 4) %}
                <div><a href="/{{ paging.category }}/{{ i }}?per_page={{ per_page }}{% if name %}&name={{ name }}{% endif %}{%if arg %}&arg={{ arg }}{% endif %}"> {{ i }} </a></div> 
            {% endfor %}
            <div><a> ... </a></div>
            {% for i in range(page - 3, page) %}
                <div><a href="/{{ paging.category }}/{{ i }}?per_page={{ per_page }}{% if name %}&name={{ name }}{% endif %}{%if arg %}&arg={{ arg }}{% endif %}"> {{ i }} </a></div> 
            {% endfor %}
        {% endif %}

        {% if paging.next == False %}
            {% for i in range(page, paging.total + 1) %}
                <div id="{% if i == page %}current{% endif %}"><a href="/{{ paging.category }}/{{ i }}?per_page={{ per_page }}{% if name %}&name={{ name }}{% endif %}{%if arg %}&arg={{ arg }}{% endif %}"> {{ i }} </a></div> 
            {% endfor %}
        {% endif %}

        {% if paging.next == True %}
            {% for i in range(page, page + 4) %}
                <div id="{% if i == page %}current{% endif %}"><a href="/{{ paging.category }}/{{ i }}?per_page={{ per_page }}{% if name %}&name={{ name }}{% endif %}{%if arg %}&arg={{ arg }}{% endif %}"> {{ i }} </a></div> 
            {% endfor %}
            <div><a> ... </a></div>
            {% for i in range(paging.total - 2, paging.total + 1) %}
                <div><a href="/{{ paging.category }}/{{ i }}?per_page={{ per_page }}{% if name %}&name={{ name }}{% endif %}{%if arg %}&arg={{ arg }}{% endif %}"> {{ i }} </a></div> 
            {% endfor %}
        {% endif %}
       
        {% if page < paging.total %}
            <div><a href="/{{ paging.category }}/{{page + 1}}?per_page={{ per_page }}{% if name %}&name={{ name }}{% endif %}{%if arg %}&arg={{ arg }}{% endif %}"> Next </a></div>
        {% endif %}
    </div>

{% endblock %}


<!-- <a href="javascript:void();"></a> ***** 링크 비활성화하기***** -->    